{% extends 'news/base.html' %}

<!--Открытие новости по кпопке подробнее-->
<!--Фильтр linebreaks, который автоматически преобразует переносы строк в соответствующие HTML-теги (<br> для одиночных переносов и <p> для блоков текста).-->

  {% block content %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ news.title|linebreaks }}</h2>
      {% if news.image %}
      <img
        src="{{ news.image.url }}"
        alt="{{ news.title }}"
        class="news-image mb-3"
      />
      {% endif %}
      <p class="card-text">{{ news.content|linebreaks }}</p>
      <p class="card-text">Дата загрузки: {{ news.pub_date }}</p>
      <p class="card-text">Количество просмотров: {{ news.views }}</p>
      <p class="card-text">
        Теги: {% for tag in news.tags.all %}
        <a href="{% url 'news_by_tag_status' tag.name news.status %}" class="badge badge-primary"
          >{{ tag.name }}</a
        >
        {% endfor %}
      </p>
      <a
        href="{% if news.status == 'archived' %}{% url 'archived_news' %}{% else %}{% url 'news_list' %}{% endif %}"
        class="btn btn-secondary"
        >Назад</a
      >
    </div>
  </div>
  {% endblock %}
