{% extends 'news/base.html' %}

<!--Форма для входа-->

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4 text-center">Вход</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="{{ form.username.id_for_label }}" required>
                <div class="invalid-feedback">
                    {% if form.username.errors %}
                        {{ form.username.errors.0 }}
                    {% else %}
                        Пожалуйста, введите имя пользователя.
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="{{ form.password.id_for_label }}" required>
                <div class="invalid-feedback">
                    {% if form.password.errors %}
                        {{ form.password.errors.0 }}
                    {% else %}
                        Пожалуйста, введите пароль.
                    {% endif %}
                </div>
                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="showPassword">
                    <label class="form-check-label" for="showPassword">Показать пароль</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const showPassword = document.getElementById('showPassword');
        const password = document.getElementById('{{ form.password.id_for_label }}');

        showPassword.addEventListener('change', function() {
            password.type = this.checked ? 'text' : 'password';
        });
    });
</script>
{% endblock %}