{% extends 'news/base.html' %}

<!--Форма сброса пароля (Успешно сброшен)-->

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h2 class="mb-0">Сброс пароля завершен</h2>
                </div>
                <div class="card-body">
                    <p>Ваш пароль был успешно сброшен. Теперь вы можете войти с новым паролем.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}